/* ==========================================================================
   Top navigation
   ========================================================================== */

.navigation-wrapper {
  @include clearfix;
  ul {
    font-family:"Montserrat";
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 0px;
    padding: 1rem;
    background-color: $black;
    @include media($medium) {
      background-color:$body-color;
      width:auto;
    }
    @include clearfix;
  }
  li {
    display: block;
    float: left;
    list-style: none;
    text-align: center;
    @include font-size(24,no);
    text-transform: uppercase;
    color: $medium-blue;
    border-bottom: 3px solid rgba($bright-blue, 0);
    transition: all .3s ease-in-out;
    @include media($medium) {
      @include font-size(14,no);
      margin-top:30px;
    }
  }
  a {
    display: block;
    margin-bottom: 10px;
    padding: 12px 20px;
    color: $medium-blue;
    @include media($medium) {
      margin-bottom: 0;
      padding: 6px 10px;
    }
    &:hover {
      color: $bright-blue;
      transition: all .3s ease-in-out;
      @include media($medium) {
      color: $medium-blue;
      border-bottom: 3px solid rgba($bright-blue, 1);
      transition: all .3s ease-in-out;
      }
    }
  }
  a.site-logo {
    border-bottom:none;
    &:hover {
      border-bottom:none;
    }
  }
  .navigation-logo {
    display:none;
    @include media($medium) {
      margin-top:-25px;
      display:inline-block;
      border:none;
      border-radius:0px;
      width:90px;
      height:auto;
    }
  }
}

/*
   Responsive navigation toggle
   ========================================================================== */

#site-nav {
  display: none;
  z-index: 5;
  @include media($medium) {
    -webkit-animation-duration: 0s;
    -moz-animation-duration: 0s;
    -o-animation-duration: 0s;
    animation-duration: 0s;
  }
  &.closed {
    @include media($medium) {
      display: block;
    }
  }
  &.opened {
    display: block;
    max-height: 100%;
    li {
      float: none;
      @include media($medium) {
        float: left;
      }
    }
  }
}

/* display when JavaScript is disabled */
.no-js #site-nav {
  display: block;
}

#nav-toggle {
  z-index: 20;
  display: block;
  vertical-align: top;
  margin: 0;
  padding: 6px 20px;
  background-color: $black;
  height: 44px;
  @include rounded(0);
  @include media($medium) {
    display: none;
  }
}
